# {{ ansible_managed }}

[Unit]
Description=Seafile hub
After=network.target seafile.service

[Service]
# change start to start-fastcgi if you want to run fastcgi
ExecStart={{ seafile_org_dir }}/seafile-server-latest/seahub.sh start
ExecStop={{ seafile_org_dir }}/seafile-server-latest/seahub.sh stop
User={{ seafile_user }}
Group=seafile

# Use forking type to be able to have Restart functionality (oneshot does not allow it)
Type=forking
Restart=on-failure
RestartSec=40

[Install]
WantedBy=multi-user.target
